#slider-Quangcao {
    margin-top: -300px;
}

#col1 img , #col2 img {
    width: 100%;
    height: 800px;
}

.col-md-6 {
    padding: 0;
}

.sliderQC1 .row #col1 {
    width: 60%;
    position: relative;
}

#col2 {
    width: 40%;
    overflow: hidden;
}

#col2 .test60 {
    transform: scale(1.05);
    opacity: 0.9;
    transition: all 0.25s;
}

.test70 {
    animation-name: out;
    animation-duration: 0.25s;
    /* animation-iteration-count:infinite; */
}

@keyframes out
{
from {opacity: 0.8; transform: scale(1.05);}
to   {opacity: 1; transform: scale(1);}
}

#iconRight {
     z-index: 20;
     cursor: pointer;
     position: absolute;
     top: 360px;;
     text-align: center;
     opacity: 0;
     left: 30px;
}

#iconRight button, #iconLeft button {
    text-decoration: none;
    color: white;
    font-size: 20px;
    background-color: #3d3352;
    width: 40px;
    height: 40px;
    display: inline-block;
}

#iconRight.test10 {
    animation-duration: 0.3s;
    animation-name: sangPhai;
    opacity: 1;
}

@keyframes sangPhai {
    from {left: 0; opacity: 1;};
    to  {left: 30px; opacity: 1;};
}

#iconRight.test11 {
    animation-duration: 0.3s;
    animation-name: sangTrai;
    left: 0;
    opacity: 0;
}

@keyframes sangTrai {
    from {left: 30px; opacity: 1;};
    to   {left: 0; opacity: 0;};
}

#iconLeft {
    z-index: 20;
    cursor: pointer;
    position: absolute;
    top: 360px;;
    text-align: center;
    right: 30px;
    opacity: 0;
}

#iconLeft.test100 {
    animation-duration: 0.3s;
    animation-name: sangPhai100;
    opacity: 1;
}

@keyframes sangPhai100 {
    from {right: 0; opacity: 1;};
    to  {right: 30px; opacity: 1;};
}

#iconLeft.test111 {
    animation-duration: 0.3s;
    animation-name: sangTrai111;
    right: 0;
    opacity: 0;
}

@keyframes sangTrai111 {
    from {right: 30px; opacity: 1;};
    to   {right: 0; opacity: 0;};
}

#iconRight button:hover, #iconLeft button:hover {
    background-color: #e97244;
    transition: all 0.3s linear;
}

 /* Hết phần icon ẩn hiện trái phải */

 .Text-Qc {
     position: absolute;
     top: 45%;
     left: 25%;
     color: white;
     text-align: center;
     z-index: 0;
 }

.Text-Qc .text1 {
    font-family: Roboto Condensed;
    line-height: 67px;
    font-size: 38px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.Text-Qc .text2 {
    font-family: Roboto Condensed;
    line-height: 67px;
    font-size: 48px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 5px;
    margin: 0;
}

.text2 span {
    font-weight: bold;
    margin: 0 5px;
 }

.Text-Qc .text3 {
    font-size: 180px;
    font-family: serif;
    letter-spacing: 5px;
    margin: 0;
    font-weight: 100;
    line-height: 169px;
}

.text1, .text21 {
    animation-name: runText1;
    animation-duration: 2s;
}

@keyframes runText1 {
    0% {opacity: 0;}
    50% {opacity: 0.5;}
    100%   {opacity: 1;}
}

.text2 {
    animation-name: runText2;
    animation-duration: 2s;
}

@keyframes runText2 {
    0% {transform: translateX(6000px)}
    80% {transform: translateX(0);}
    85% {transform: translateX(25px)}
    90% {transform: translateX(-25px)}
    95% {transform: translateX(15px);}
    100% {transform: translateX(0);}
}

.text3 {
    animation-name: runText3;
    animation-duration: 3.5s;
}

@keyframes runText3 {
    0% {transform: translateX(8000px)}
    80% {transform: translateX(0)}
    85% {transform: translateX(25px)}
    90% {transform: translateX(-25px)}
    95% {transform: translateX(15px);}
    100% {transform: translateX(0);}
}


.slice {
	position: relative;
}

.slice .col1-slide1 {
	position: absolute;
	top: 0;
	left: 0;
}


.Text-Qc .text21 {
    font-family: Roboto Condensed;
    line-height: 67px;
    font-size: 54px;
    font-weight: 300;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.Text-Qc .text21 span {
    font-weight: bold;
    margin: 0 5px;
}

.Text-Qc .text22 {
    font-family: Roboto Condensed;
    line-height: 67px;
    font-size: 54px;
    font-weight: 300;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 5px;
    margin: 0;
}

.Text-Qc .text23 {
    color: #fff;
    font-size: 185px;
    font-family: serif;
    letter-spacing: 5px;
    margin: 0;
    font-weight: 100;
    line-height: 169px;
}

.text22 {
    animation-name: runText22;
    animation-duration: 2s;
}

@keyframes runText22 {
    0% {transform: translateY(-6000px)}
    80% {transform: translateY(0)}
    85% {transform: translateY(15px)}
    90% {transform: translateY(-15px)}
    95% {transform: translateY(10px);}
    100% {transform: translateY(0);}
}

.text23 {
    animation-name: runText23;
    animation-duration: 3.5s;
}

@keyframes runText23 {
    0% {transform: translateY(8000px)}
    90% {transform: translateY(0)}
    83% {transform: translateY(20px)}
    95% {transform: translateY(-10px)}
    97% {transform: translateY(15px);}
    100% {transform: translateY(0);}
}